<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="RITEK_NSIEntities" connectionString="metadata=res://*/Model.SQL.TPP_NSI.csdl|res://*/Model.SQL.TPP_NSI.ssdl|res://*/Model.SQL.TPP_NSI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7MTN1KC\SQLEXPRESS;initial catalog=RITEK_NSI;persist security info=True;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RITEK_SURVEY_TPP1Entities" connectionString="metadata=res://*/Model.SQL.RITEK_SURVEY_TPP1.csdl|res://*/Model.SQL.RITEK_SURVEY_TPP1.ssdl|res://*/Model.SQL.RITEK_SURVEY_TPP1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7MTN1KC\SQLEXPRESS;initial catalog=RITEK_SURVEY_TPP1;persist security info=True;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RITEK_SURVEY_TPP2Entities" connectionString="metadata=res://*/Model.SQL.RITEK_SURVEY_TPP2.csdl|res://*/Model.SQL.RITEK_SURVEY_TPP2.ssdl|res://*/Model.SQL.RITEK_SURVEY_TPP2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7MTN1KC\SQLEXPRESS;initial catalog=RITEK_SURVEY_TPP2;persist security info=True;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RITEK_SURVEY_TPP3Entities" connectionString="metadata=res://*/Model.SQL.RITEK_SURVEY_TPP3.csdl|res://*/Model.SQL.RITEK_SURVEY_TPP3.ssdl|res://*/Model.SQL.RITEK_SURVEY_TPP3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7MTN1KC\SQLEXPRESS;initial catalog=RITEK_SURVEY_TPP3;persist security info=True;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RITEK_SURVEY_TPP4Entities" connectionString="metadata=res://*/Model.SQL.RITEK_SURVEY_TPP4.csdl|res://*/Model.SQL.RITEK_SURVEY_TPP4.ssdl|res://*/Model.SQL.RITEK_SURVEY_TPP4.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7MTN1KC\SQLEXPRESS;initial catalog=RITEK_SURVEY_TPP4;persist security info=True;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RITEK_WEBEntities" connectionString="metadata=res://*/Model.SQL.RITEK_WEB.csdl|res://*/Model.SQL.RITEK_WEB.ssdl|res://*/Model.SQL.RITEK_WEB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7MTN1KC\SQLEXPRESS;initial catalog=RITEK_WEB;persist security info=True;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>