<div class="content" style="margin-top:15%">
    <div class="bulletsBlock">
        <div class="bullet-item">
            <span class="iconBullet fa fa-pencil-square-o"></span>
            <p class="titleBullet">Сводки</p>
            <p class="hideText">Ввод данных<br>сводок по ТПП</p>
        </div>
        <div class="bullet-item">
            <span class="iconBullet fa fa-calendar"></span>
            <p class="titleBullet">Плановые показатели</p>
            <p class="hideText">Ввод<br>плановых показателей по ТПП</p>
        </div>
        <div class="bullet-item">
            <span class="iconBullet fa fa-cog"></span>
            <p class="titleBullet">Администрирование</p>
            <p class="hideText">Администрирование<br>АРМ'а ручного ввода</p>
        </div>
    </div>
</div>